<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css'/>
  <link rel='stylesheet' href='/css/bootstrap.min.css'/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-typeahead.min.js"></script>
</head>
<script>
  var newSeries;
</script>
<body>
<h1><%= title %></h1>

<h2>Séries surveillées</h2>
<% if (series && series.length > 0) {
for (var k = 0; k < series.length; k++) { %>
<span>
    <b><%= series[k].name %></b><br/>
  </span>
<% }
} else { %>
<p>Pas de série surveillée.</p>
<% } %>
<div class="row">
  <div class="col-lg-4">
    <form class="form">
      <div class="form-group">
        <label for="newSeriesName">Ajouter une série : </label>
        <input type="text" class="form-control" id="newSeriesName" data-provide="typeahead" autocomplete="off"/>
      </div>
      <div id="seriesPreview">
        <img id="bannerPreview" width="300"/>
        <p id="descPreview"></p>
      </div>
      <button type="submit" class="btn btn-default">Ajouter</button>
    </form>
  </div>
</div>

<script>
  $("#newSeriesName").on("keyup change", function(){
    $("#seriesPreview").hide();
    newSeries = null;
  });

  $("#newSeriesName").typeahead({
    onSelect: function(item) {
      alert(JSON.stringify(item));
      newSeries = item;
      $("#bannerPreview").attr('src', "http://thetvdb.com/banners/" + item.banner);
      $("#descPreview").html(item.Overview);
      $("#seriesPreview").show();
    },
    ajax: {
      url: "/api/series",
      timeout: 500,
      displayField: "SeriesName",
      triggerLength: 3,
      method: "get",
      loadingClass: "loading-circle",
      preDispatch: function (query) {
        return {
          name: query
        }
      },
      preProcess: function (data) {
        if (!data) {
          // Hide the list, there was some error
          return false;
        }
        // We good!
        return data;
      }
    }
  });
</script>

<h2>Episodes en cours de mise à disposition</h2>
<a class="btn btn-default" href="/episodes/search">Vérifier les épisodes</a>
<% if (episodes && episodes.length > 0) { %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Série</th>
      <th>Episode</th>
      <th>Torrent trouvé ?
        <a class="btn btn-default btn-xs" title="Chercher des torrents" href="/torrents/search"><span class="glyphicon glyphicon-repeat"></span></a></th>
      <th>Torrent ajouté ?
        <a type="button" class="btn btn-default btn-xs" title="Télécharger les épisodes" href="/torrents/download"><span class="glyphicon glyphicon-repeat"></span></a></th>
      <th>Téléchargement terminé ?
        <a type="button" class="btn btn-default btn-xs" title="Vérifier les torrents" href="/torrents/watch"><span class="glyphicon glyphicon-repeat"></span></a></th>
      <th>Sous-titres trouvés ?
        <a type="button" class="btn btn-default btn-xs" title="Chercher les sous-titres" href="/subs/search"><span class="glyphicon glyphicon-repeat"></span></a></th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < episodes.length; i++) { %>
    <tr>
      <td><%= episodes[i].series %></td>
      <td>S<%= episodes[i].season %>E<%= episodes[i].number %><br/><%= episodes[i].name %></td>
      <td><%= episodes[i].magnetLink ? '✓' : '' %></td>
      <td><%= episodes[i].transmissionId ? '✓' : '' %></td>
      <td><%= episodes[i].videoPath ? '✓' : '' %></td>
      <td></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else { %>
<p>Pas d'épisode à mettre à disposition.</p>
<% } %>
<h2>Episodes disponibles</h2>
<% if (providedEpisodes && providedEpisodes.length > 0) { %>
<table class="table-striped">
  <tr>
    <th>Série</th>
    <th>Episode</th>
    <th></th>
  </tr>
  <% for (var j = 0; j < providedEpisodes.length; j++) { %>
  <tr>
    <td><%= providedEpisodes[j].series %></td>
    <td>S<%= providedEpisodes[j].season %>E<%= providedEpisodes[j].number %><br/><%= providedEpisodes[j].name %></td>
    <td>
      <button type="button" class="btn btn-default archiveBtn" ep-id="<%= j %>">Archivé ?</button>
    </td>
  </tr>
  <% } %>
</table>
<% } else { %>
<p>Pas d'épisode disponible.</p>
<% } %>
<script>
  $(".archiveBtn").click(function () {
    var epId = $(this).attr('ep-id');
    $.ajax({
      method: "DELETE",
      url: "/api/provided-episode/" + epId
    }).done(function () {
      location.reload();
    }).fail(function (jqXHR, textStatus) {
      alert("Request failed: " + textStatus);
    });
  });
</script>
</body>
</html>
