<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>
<body>
<h1 class="text-center"><%= title %></h1>

<h2>Séries surveillées</h2>
<% if (series && series.length > 0) {
for (var k = 0; k < series.length; k++) { %>
<span>
  <% if (series[k].banner) { %>
  <img class="seriesBanner" width="570" src="<%= series[k].banner %>" title="<%= series[k].description %>"/>
  <% } else { %>
  <b><%= series[k].name %></b>
  <% } %>
  <button type="button" class="btn btn-default btn-xs deleteSeriesBtn <%= series[k].banner ? 'deleteSeriesBtnBanner' : '' %>" title="Supprimer" series-idx="<%= k %>">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</span>
<% }
} else { %>
<p>Pas de série surveillée.</p>
<% } %>
<div class="row">
  <div class="col-lg-4">
    <form class="form">
      <div class="form-group">
        <label for="newSeriesName">Ajouter une série : </label>
        <input type="text" class="form-control" id="newSeriesName" data-provide="typeahead" autocomplete="off"/>
      </div>
      <div id="seriesPreview">
        <img id="bannerPreview" width="300"/>

        <p id="descPreview"></p>
      </div>
      <button id="addSeriesBtn" type="submit" class="btn btn-default">Ajouter</button>
    </form>
  </div>
</div>

<script>
  var newSeries;
  var matchingSeries = [];

  $("#addSeriesBtn").click(function () {
    $.ajax({
      method: "POST",
      url: "/api/series",
      dataType: "json",
      data: {
        id: newSeries.seriesid,
        name: newSeries.SeriesName,
        banner: "http://thetvdb.com/banners/" + newSeries.banner,
        description: newSeries.Overview
      }
    }).done(function () {
      location.reload();
    }).fail(function (error) {
      alert("Erreur à l'ajout de la série : " + error.message);
    });
  });

  $(".deleteSeriesBtn").click(function () {
    var seriesIdx = $(this).attr("series-idx");
    if (confirm("Supprimer la série ?")) {
      $.ajax({
        method: "DELETE",
        url: "/api/series/" + seriesIdx
      }).done(function () {
        location.reload();
      }).fail(function (jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });
    }
  });

  $("#newSeriesName").typeahead({
    onSelect: function (item) {
      newSeries = matchingSeries.filter(function (series) {
        return series.seriesid == item.value;
      })[0];
      $("#bannerPreview").attr('src', "http://thetvdb.com/banners/" + newSeries.banner);
      $("#descPreview").html(newSeries.Overview);
      $("#seriesPreview").show();
    },
    ajax: {
      url: "/api/series",
      timeout: 500,
      displayField: "SeriesName",
      triggerLength: 3,
      method: "get",
      preDispatch: function (query) {
        $("#seriesPreview").hide();
        return {
          name: query
        }
      },
      preProcess: function (data) {
        if (!data) {
          // Hide the list, there was some error
          return false;
        }
        // We good!
        matchingSeries = data;

        return data;
      }
    }
  });
</script>

<h2>Episodes en cours de mise à disposition</h2>
<a class="btn btn-default" href="/episodes/search">Vérifier les épisodes</a>
<% if (episodes && episodes.length > 0) { %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Série</th>
    <th>Episode</th>
    <th>Torrent trouvé ?
      <a class="btn btn-default btn-xs" title="Chercher des torrents" href="/torrents/search"><span
                class="glyphicon glyphicon-repeat"></span></a></th>
    <th>Torrent ajouté ?
      <a type="button" class="btn btn-default btn-xs" title="Télécharger les épisodes" href="/torrents/download"><span
                class="glyphicon glyphicon-repeat"></span></a></th>
    <th>Téléchargement terminé ?
      <a type="button" class="btn btn-default btn-xs" title="Vérifier les torrents" href="/torrents/watch"><span
                class="glyphicon glyphicon-repeat"></span></a></th>
    <th>Sous-titres trouvés ?
      <a type="button" class="btn btn-default btn-xs" title="Chercher les sous-titres" href="/subs/search"><span
                class="glyphicon glyphicon-repeat"></span></a></th>
  </tr>
  </thead>
  <tbody>
  <% for (var i = 0; i < episodes.length; i++) { %>
  <tr>
    <td><%= episodes[i].series %></td>
    <td>S<%= episodes[i].season %>E<%= episodes[i].number %><br/><%= episodes[i].name %>
      <button type="button" class="btn btn-default btn-xs deleteEpisodeBtn" title="Supprimer" episode-idx="<%= i %>">
        <span class="glyphicon glyphicon-remove"></span>
      </button></td>
    <td><%= episodes[i].magnetLink ? '✓' : '' %></td>
    <td><%= episodes[i].transmissionId ? '✓' : '' %></td>
    <td><%= episodes[i].videoPath ? '✓' : '' %></td>
    <td></td>
  </tr>
  <% } %>
  </tbody>
</table>
<% } else { %>
<p>Pas d'épisode à mettre à disposition.</p>
<% } %>
<h2>Episodes disponibles</h2>
<% if (providedEpisodes && providedEpisodes.length > 0) { %>
<table class="table-striped">
  <tr>
    <th>Série</th>
    <th>Episode</th>
    <th></th>
  </tr>
  <% for (var j = 0; j < providedEpisodes.length; j++) { %>
  <tr>
    <td><%= providedEpisodes[j].series %></td>
    <td>S<%= providedEpisodes[j].season %>E<%= providedEpisodes[j].number %><br/><%= providedEpisodes[j].name %></td>
    <td>
      <button type="button" class="btn btn-default archiveBtn" ep-id="<%= j %>">Archivé ?</button>
    </td>
  </tr>
  <% } %>
</table>
<% } else { %>
<p>Pas d'épisode disponible.</p>
<% } %>
<script>
  $(".archiveBtn").click(function () {
    var epId = $(this).attr('ep-id');
    if (confirm("Archiver l'épisode ?")){
      $.ajax({
        method: "DELETE",
        url: "/api/provided-episode/" + epId
      }).done(function () {
        location.reload();
      }).fail(function (jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });
    }
  });

  $(".deleteEpisodeBtn").click(function () {
    var epId = $(this).attr('episode-idx');
    if (confirm("Supprimer l'épisode ?")) {
      $.ajax({
        method: "DELETE",
        url: "/api/episode/" + epId
      }).done(function () {
        location.reload();
      }).fail(function (jqXHR, textStatus) {
        alert("Request failed: " + textStatus);
      });
    }
  });
</script>
</body>
</html>
