<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
</head>
<body>
  <h1 class="text-center"><%= title %></h1>
  <p>
    Séries : <br/>
    <%- JSON.stringify(series, null, 2) %><br/><br/>
    Episodes :<br/>
    <%- JSON.stringify(episodes, null, 2) %><br/><br/>
    Episodes disponibles :<br/>
    <%- JSON.stringify(providedEpisodes, null, 2) %><br/><br/>
    Tâches :<br/>
    <%- JSON.stringify(jobs, null, 2) %>
  </p>
</body>
</html>